@import "./partials/variables";


.navbarludus{
    background-color: map-get($map: $paleta, $key: 'color4');

    a {
        color: map-get($map: $paleta, $key: 'color2');
        font-family: $fuente4;
    }

    a:hover {
        @extend a;
        color: map-get($map: $paleta, $key: 'color3');
    }

    button{
        background-color: map-get($map: $paleta, $key: 'color2');
        color: map-get($map: $paleta, $key: 'color4');
    }
    
}

.mainludus{

    .textoludusmain{
        @include textoludusmain(bisque , 'Itim' , 'M PLUS 1p')
    }

    .mainludusbotones {
        @include mainludusbotones(500 , 24px , inline-block , 12px 36px, 0.5s , #e4a93a , #8e2033 , 50px , none)
    }


    .shortludus{
        border-radius: $b-radius1;
        height: 600px;
        width: 335px;
    }
}

.contenedorcards{
    .estilosfondo{
        @include estilosfondo(#8e2033 , #fcd33e , #e4a93a);
        border-radius: $b-radius1;
    
        img:hover{
            transition: transform .3s;
            transform: scale(1.25);
        }
    }

}

.botonmenu {
    position:fixed;
    padding-top: 10px;
    width:80px;
    height:80px;
    bottom:20px;
    right:40px;
    background-color: map-get($map: $paleta, $key: 'color1');
    color: map-get($map: $paleta, $key: 'color5');
    border-radius: $b-radius2;
    text-align:center;
    font-size:40px;
    z-index:100;
  }
  
  


.redesludus{

    .textoludusmain{
        color: map-get($map: $paleta, $key: 'color2');
        font-family: $fuente1;
        font-family: $fuente2;
    }

    .mailludus{
        font-family: $fuente3;
    }

    .ig{
        height: $dimicono;
        width: $dimicono;
    }
    
    .fb{
        @extend .ig;
    }
    
    .yt{
        @extend .ig;
    }
}

.textoclientes1{

    .textoclientes2{
        color: map-get($map: $paleta, $key: 'color2');
        font-family: $fuente1;
        font-family: $fuente2;
    }
}

.imgclientes{
    height: 250px;
    width: 250px;
}

.contenedorclientes{
    @extend .contenedorcards;
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 500px;
    position: relative;
    height: 0;
    
    iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute; 
     }
}

.footerludus{
    .footertexto{
        color: map-get($map: $paleta, $key: 'color2');
        font-family: $fuente3;
    }
    
}